.header__navegacao {
  color: #333333;
}

.header__lista {
  display: flex;

  margin-left: 2rem;
}

.header__item {
  margin-right: 2rem;
}

.header__link {
  color: inherit;
  font-size: 1.25rem;
}

.header__link:hover {
  border-bottom: 4px solid #333333;
}